#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 70px;
}

@media (max-width: 1024px) {
  .page {
    padding: 60px 40px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 60px 24px;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 40px 20px;
  }
}
