/* Gilroy Thin - 100 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

/* Gilroy UltraLight - 200 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-UltraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

/* Gilroy Light - 300 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Gilroy Regular - 400 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
       url('./assets/fonts/Gilroy-Regular.woff') format('woff'),
       url('./assets/fonts/Gilroy-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Gilroy Medium - 500 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* Gilroy SemiBold - 600 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
       url('./assets/fonts/Gilroy-SemiBold.woff') format('woff'),
       url('./assets/fonts/Gilroy-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* Gilroy Bold - 700 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.woff2') format('woff2'),
       url('./assets/fonts/Gilroy-Bold.woff') format('woff'),
       url('./assets/fonts/Gilroy-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Gilroy ExtraBold - 800 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

/* Gilroy Heavy - 900 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-HeavyItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* Gilroy Black - 950 */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Black.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-BlackItalic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Gilroy', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}
